@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap');

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 3fr 1fr;
}

.main {
  height: 100vh;
  grid-column: 1 /2;
  display: grid;
  background-color: black;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.5fr 0.5fr 4fr 0.3fr;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  background-color: #34495e;
  color: white;
  padding: 24px 0px 24px 24px;
  /* border: 1px solid red; */
}

.optionsBar {
  grid-row: 2/3;
  grid-column: 1/3;
  color: white;
  background-color: #34495e;
}

.repo-results {
  grid-row: 3/ 4;
  grid-column: 1/3;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  background-color: #34495e;
  padding: 20px;
  overflow-y: scroll;
}

.repo-results-flex {
  display: flex;
  flex-wrap: wrap;
}

.repo-results a {
  text-decoration: none;
}

.repo-card {
  border: 1px solid black;
  border-radius: 15px;
  margin: 5px;
  width: 174px;
  height: 150px;
  padding: 15px;
}

.repo-card h4 {
  width: 120px;
  font-size: 12px;
  /* border: 1px solid red; */
  color: white;
  font-weight: 700;
  float: left;
  margin-left: 10px;
  margin-top: 0;
}

.repo-card h3 {
  font-size: 10px;
}

.repo-card p {
  font-size: 12px;
  margin-top: 52px;
  width: inherit;
  color: white;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.repo-card img {
  width: 40px;
  border-radius: 10px;
  float: left;
}

footer {
  background: black;
  grid-row: 4/5;
  grid-column: 1/3;
}

footer div {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  width: 200px;
}

footer img {
  height: 20px;
}

footer h4 {
  color: white;
  margin-top: 0;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 2px;
}

/* REPO INFO SECTION */
.repo-info-holder {
  background-color: #1e272e;
  /* color: #00ff41; */
  color: white;
  border-left: 4px solid black;
  grid-column: 2/3;
  height: 100vh;
  overflow-y: scroll;
  min-width: 400px;
  padding: 20px;
  padding-top: 50px;
  padding-right: 35px;
  box-sizing: border-box;
}

.repoGenInfo {
  /* padding: 20px; */
  width: inherit;
}

.repoGenInfo button {
  background: none;
  border: none;
  position: relative;
  z-index: 10;
}

.genInfoTop {
  display: flex;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.titleLink {
  width: 80%;
  margin-left: 10px;
  margin-top: -4px;
}

.repoGenInfo img {
  height: 70px;
}

.repoGenInfo button img {
  height: 18px;
}

.repoGenInfo button img:hover {
  cursor: pointer;
}

.repoGenInfo a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  overflow-wrap: break-word;
}

.repoGenInfo h1 {
  font-size: 25px;
  margin: 0;
  color: white;
}

.repoGenInfo p {
  font-size: 15px;
}

.iconHolder {
  display: flex;
  height: 40px;
}

.iconHolder img {
  height: 20px;
}

.iconHolder h5 {
  width: 55px;
  margin: 0;
  margin-left: 8px;
  margin-top: 2px;
  color: cyan;
}

.red {
  color: #ff7675 !important;
}

.orange {
  color: #f39c12 !important;
}

.green {
  color: #2ecc71 !important;
}

.issuesHolder {
  /* padding: 20px; */
  /* color: #00ff41; */
  color: white;
  border-top: 1px solid white;
}

.issuesHolder img {
  height: 20px;
}

.issuesHolder h2 {
  color: #ff5b5b;
}

.issue {
  /* min-height: 150px; */
  margin-top: 20px;
}

.issueTitle {
  display: flex;
}

.issueTitle h3 {
  font-size: 16px;
  margin-left: 15px;
  margin-top: -1px;
  padding-right: 8px;
}

.issueBodyHolder {
  background: black;
  padding: 10px 20px 10px 20px;
}

.issueBodyHolder h4 {
  color: white;
  border: 1px solid white;
  width: 70px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
}

.issueBodyHolder a {
  text-decoration: none;
}

.issue p {
  font-size: 14px;
  max-width: inherit;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  color: #00ff41;
}
@media screen and (max-width: 800px) {
  .repo-results {
  }
}
