@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

body {
  margin: 0;

  /* font-family: 'Inter', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 3fr 1fr;
}

.main {
  height: 100vh;
  grid-column: 1 /2;
  display: grid;
  grid-template-columns: 60px 4fr;
  grid-template-rows: 0.5fr 0.3fr 4fr 1fr 0.3fr;
  background-color: #f3f3f6;
  /* background-color: #f5f6f6; */
}

header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  /* padding: 24px 0px 24px 24px; */
  /* border: 1px solid red; */
  padding: 24px 0px 24px 0px;
  height: 55px;
  width: 80%;
  margin-left: 10%;
}

header h1 {
  margin: 0px;
  font-size: 38px;
  font-family: 'Ubuntu Mono', monospace;
  color: #363f66;
  padding-top: 2px;
  line-height: 35px;
}

header h5 {
  margin-top: 18px;
  font-weight: 400;
}

.optionsBar {
  grid-row: 2/3;
  grid-column: 2/3;
  margin-left: 10%;
  border-radius: 8px;
  width: 80%;
  display: flex;
  height: 42px;
  margin-top: 20px;
}

.optionsBar h2 {
  margin-top: 13px;
  font-weight: 400;
  padding-right: 15px;
  height: 28px;
  font-size: 20px;
  font-weight: 800;
}

.filterHolder button {
  margin-top: 15px;
  margin-left: 15px;
}

.sideBar {
  grid-row: 1 /5;
  grid-column: 1/2;
  background-color: white;
  max-width: 60px;
}

.sideBar button {
  background-color: white;
  border: none;
  display: block;
  margin: 0 auto;
}

.sideBar button:hover {
  cursor: pointer;
}

#logo {
  border-bottom: 1px solid #d6dbdf;
  margin-bottom: 24px;
  padding-bottom: 10px;
}
.sideBar button img {
  height: 22px;
  border: none;
  margin-top: 26px;
}

.sideBar img {
  display: block;
  margin: 0 auto;
  margin-top: 14px;
  height: 48px;
}

.repo-results {
  grid-row: 3/4;
  grid-column: 2/3;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  background-color: #f2f3f3;
  margin-top: 25px;
  overflow-y: scroll;
  margin-left: 10%;
  width: 80%;
  margin-bottom: 25px;
}

.repo-results-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
}

.repo-results-grid a {
  text-decoration: none;
  /* min-width: 150px; */
}

.repo-card {
  background-color: white;
  border-radius: 8px;
  /* margin: 5px; */
  /* width: 174px; */
  height: 150px;
  padding: 15px;
  /* width: 150px; */
  box-sizing: border-box;
  /* margin-right: 35px; */
  /* margin-bottom: 15px; */

  /* min-width: 150px; */

  color: black;
}

.repo-card-top {
  display: flex;
}

.repo-card h4 {
  /* width: 120px; */
  font-size: 12px;
  /* border: 1px solid red; */
  /* color: white; */
  font-weight: 700;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-top: 0;
  word-wrap: break-word;
}

.repo-card h3 {
  font-size: 10px;
}

.repo-card p {
  font-size: 12px;
  margin-top: 14px;
  /* width: inherit; */
  /* color: white; */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 18px;
}

.repo-card img {
  height: 40px;
  border-radius: 8px;
}

footer {
  background: #363f66;
  grid-row: 5/6;
  grid-column: 1/2;
  max-width: 60px;
}

footer a {
  text-decoration: none;
}

footer div {
  /* margin: 8px auto 4px auto; */
  width: 60px;
  /* display: flex; */
  margin-bottom: 10px;
  margin-top: 10px;
}
/* blank comment */
footer img {
  height: 20px;
  display: block;
  margin: 0 auto;
}

footer h4 {
  color: white;
  font-size: 9px;
  /* margin: 4px 12px 0px -10px; */
  text-align: center;
  width: 45px;
  margin: 0 auto;
}

/* REPO INFO SECTION */
.repo-info-holder {
  /* color: #00ff41; */
  grid-column: 2/3;
  height: 100vh;
  overflow-y: scroll;
  min-width: 280px;
  padding: 20px;
  padding-top: 18px;
  padding-right: 35px;
  padding-bottom: 32px;
  box-sizing: border-box;
}

.repoGenInfo {
  /* padding: 20px; */
  width: inherit;
}

.repoGenInfo button {
  background: none;
  border: none;
  position: relative;
  z-index: 10;
}

.genInfoTop {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  margin-top: 6px;
}

.titleLink {
  width: 80%;
  margin-left: 10px;
  margin-top: -4px;
}

.repoGenInfo img {
  height: 70px;
}

.repoGenInfo button img {
  height: 18px;
  margin-top: 4px;
  margin-left: -4px;
}

.repoGenInfo button img:hover {
  cursor: pointer;
}

.repoGenInfo a {
  text-decoration: none;
  font-size: 12px;
  overflow-wrap: anywhere;
  color: black;
}

.repoGenInfo h1 {
  font-size: 20px;
  margin: 0;
}

.repoGenInfo p {
  font-size: 12px;
}

.iconHolder {
  display: flex;
  flex-wrap: wrap;

  /* flex-grow: 1; */
}

.icons {
  display: flex;
  width: auto;
  margin-top: 5px;
}

.icons img {
  height: 16px;
}

.icons h5 {
  margin: 0;
  margin-left: 6px;
  margin-right: 10px;
  margin-top: -1px;
  color: cyan;
  font-size: 11px;
  letter-spacing: 0.6px;
}

.red {
  color: #ff7675 !important;
}

.orange {
  color: #f39c12 !important;
}

.green {
  color: #2ecc71 !important;
}

.issuesHolder {
  /* padding: 20px; */
  /* color: #00ff41; */
  border-top: 1px solid lightgray;
  margin-top: 12px;
}

.issueTitle img {
  height: 20px;
}

.issueTitle h3 {
  display: inline-block;
  vertical-align: text-top;
  margin-top: -4px;
  margin-left: 6px;
}

.issuesHolder h2 {
  color: #ff5b5b;
}

.issuesHolder h3 {
  font-size: 12px;
  /* padding-right: 8px; */
  overflow-wrap: break-word;
}

.issuesHolder button {
  background: none;
  border: none;
  width: 100%;
  display: block;
  margin-top: 20px;
  height: 30px;
}

.issuesHolder button:hover {
  cursor: pointer;
}

.issuesHolder button div {
  border-bottom: 1px solid #d6dbdf;
  width: 100%;
}

.issuesHolder button div h3 {
  width: 70px;
  margin: 0 auto;
  margin-bottom: -7px;
  background-color: white;
  color: #34495e;
}

.issue {
  /* min-height: 150px; */
  margin-top: 20px;
}

.issueBodyHolder {
  background-color: #e3fded;
  padding: 14px 20px 10px 20px;
  border-radius: 8px;
  color: #2ecc71;
}

.issueBodyHolder img {
  height: 30px;
}

.issueBodyHolder h3 {
  font-weight: 700;
  margin: 0;
}

.issueBodyHolder h4 {
  border: 1px solid black;
  width: 70px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  margin-top: 0px;
}

.issueBodyHolder a {
  text-decoration: none;
}

.bugC {
  color: #ff5b5b !important;
}

.bugBg {
  background-color: #fff0f5 !important;
}

.issue p {
  font-size: 12px;
  max-width: inherit;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* color: #61d790; */
}
@media screen and (max-width: 800px) {
  .repo-results {
  }
}

.dashboard {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(180px, auto));
  margin-left: 10%;
  width: 80%;
  background-color: #363f66;
  border-radius: 8px;
}

.dashboard h2 {
  font-size: 20px;
}

.recentRepos {
  height: 150px;
  padding: 15px;
  box-sizing: border-box;
  color: white;
}
